:root {
  --primary: #00fffb;
}

/* Test Commit */
/* home screen */
.main-wrapper {
  height: auto;
  width: 100%;
}

/* sidebar css starts here... */
.sidebar-inner {
  position: absolute;
  height: 110%;
  width: 100%;
  background-color: rgb(0, 16, 22);
  clip-path: polygon(0% 3%, 15% 0%, 100% 0%, 100% 85%, 17% 85%, 0% 82%);
  display: flex;
  flex-direction: column;
}

.sidebar-inner .sidebar-logo {
  height: 39px;
  width: 80px;
  object-fit: contain;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.sidebar-inner .links-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  top: 40px;
}
.sidebar-inner .links-wrapper .link {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  position: absolute;
  left: 0;
  height: 36px;
  width: 3px;
  background-color: var(--primary);
  border-radius: 0 4px 4px 0;
}

/* new sidebar */
.sidebar-outer {
  position: relative;
  padding: 18px 0;
  top: 0;
  left: 0;
  height: 92vh;
  background-color: transparent;
  width: 116px;
  display: flex;
}
.icon {
  width: 70px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.icon-active {
  background-color: var(--primary);
  width: 70px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.sidebar-inner .last-col {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 35px;
}
.avatar-frame {
  position: relative;
  top: 40px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
}
.avatar-frame .avatar-frame-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* end of sidebar css */
/* home page css code */

/* test div css  */

.test-div {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 20px 70px;
  overflow: hidden;
}
.test-div img {
  width: 100%;
  height: 94vh;
  position: absolute;
}
.innerWrapper {
  position: relative;
  display: flex;
  width: auto;
  max-width: 1100px;
  min-width: 300px;
}
.innerWrapper .content {
  position: absolute;
  left: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.content .section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  top: 14px;
}
/* search component css goes here.. */

.input-div {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  background-color: rgb(9, 12, 17);

  width: 62%;
  min-width: 100px;
  height: 45px;
  padding: 0 20px;
  clip-path: polygon(0% 0%, 95% 0%, 100% 39%, 100% 85%, 0% 85%, 0% 82%);
}

.input-div input {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: white;
  border: none;
}

.input-div .search-icon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.input-div .search-icon:hover {
  transform: scale(1.2);
}

/* search component code ends here... */
/* action bar css  */
.action-bar {
  position: relative;
  top: 55px;
  height: auto;
  width: 90%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.action-bar .left-portion {
  display: flex;
  gap: 5px;
  align-items: center;
}
.action-bar .left-portion .actionbar-icons {
  height: 46px;
  width: 76px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-bar .right-portion {
  display: flex;
  gap: 6px;
  align-items: center;
}

.right-portion .main-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: rgb(0, 21, 27);
  border: 7px solid black;
  border-style: double;
}
.right-portion .plus-circle {
  position: absolute;
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background-color: rgb(0, 37, 43);
  display: grid;
  place-content: center;
}
/* divider css */
.divider {
  position: relative;
  top: 50px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3px;
  height: 50px;
  margin: 0 -10px;
  /* background-color: red; */
}
.divider .bars {
  width: 30px;
  height: 1.2px;
  background-color: #13151c;
}
.divider .bar-startend {
  width: 20px;
}
/* action bar css ends here. */
/* test div css */
