:root {
  --primary: #00fffb;
}

/* Test Commit */
/* home screen */
.main-wrapper {
  height: auto;
}
/* Customize the scrollbar for webkit-based browsers */
/* Track (the background) */

/* Handle on hover */

/* Track on hover */

/* 
SCROLLBAR OF CAMERAS
*/

.scrollbar_style {
  scrollbar-width: thin;

  /* Customize the scrollbar track (background) */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Customize the scrollbar thumb (the draggable part) */
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 6px;
    height: 60px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(13, 31, 42);
  }
}

/* sidebar css starts here... */

.sidebar .sidebar_logo {
  height: 40px;
  width: 80px;
  object-fit: contain;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.avatar_frame {
  position: relative;
  /* top: 10px; */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  border: 1px solid var(--primary);
}
.avatar_frame .avatar_frame_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sidebar {
  position: relative;
  left: 25%;
  top: 0;
  height: 106.5vh;
  width: 100%;
  background-color: rgb(15, 20, 29);
  clip-path: polygon(0% 2.5%, 35% 0%, 100% 0%, 100% 85%, 33% 85%, 0% 82.5%);
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  font-weight: 500;
  gap: 10px;
}
.smal_sidebar_view {
  left: 5%;
  top: 0.2%;
  height: 105vh;
  clip-path: polygon(0% 3%, 46% 0%, 100% 0%, 100% 86%, 47% 86%, 0% 83%);
}
.large_sidebar_view {
  left: 2%;
  top: 0.5%;
  clip-path: polygon(0% 2.5%, 16% 0%, 100% 0%, 100% 85%, 19% 85%, 0% 82%);
}
.hide_sidebar_icon {
  position: absolute;
  right: -15px;
  z-index: 999;
  top: 35px;
  cursor: pointer;
}
.links_main_wrapper {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}
.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
/* new css */
.nav_link {
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
  cursor: pointer;
}
.active_nav_items {
  height: 100%;
  flex: 1;
  background: var(--primary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 3px;
  font-weight: 800;
}
.action {
  height: 60px;
  width: 60px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  right: -20px;
  top: 20px;
  z-index: 99999999;
}
.normal_nav_item {
  height: 100%;
  flex: 1;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 3px;
}
.icon {
  width: 40px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.icon_active {
  width: 40px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  position: absolute;
  left: 0;
  height: 30px;
  width: 3px;
  background-color: var(--primary);
  border-radius: 0 4px 4px 0;
}

/* new css for sidebar */
.navigation .link {
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}
.link_active {
  width: 100%;
  background-color: var(--primary);
  margin: 0 10px;
}
.nav_label {
  font-size: 10px;
}
.sidebar_last_row {
  width: 100%;
  position: relative;
  top: -20%;
  height: 40px;

  padding-right: 20px;
  padding-left: 15px;
}
.sidebar_last_row .username {
  font-size: 12px;
  position: relative;
  top: 4px;
  color: white;
}
.sidebar_last_row .icon_up {
  font-size: 15px;
  cursor: pointer;
}
.sidebar_popup {
  position: absolute;
  top: -155px;
  height: 150px;
  width: 160px;
  border: 1px solid #155058;
  background-color: #1b2833;
  opacity: 100%;
  left: 0;
  z-index: 99999999;
  opacity: 97%;
  color: white;
  padding: 7px 7px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-size: 17px;
  gap: 7px;
}
.popup_links {
  height: 40px;
  cursor: pointer;
}
.link {
  cursor: pointer;
}
/* end of sidebar css */
/* home page css code */

/* test div css  */

/* search component css goes here.. */

.input_div {
  display: flex;
  align-items: center;
  gap: 10px;
  /* position: relative; */
  background-color: rgb(15, 20, 29);
  max-width: 68%;
  /* min-width: 70%; */
  /* min-width: 55%; for small screens */
  height: 100%;
  padding: 10px 20px;
  /* margin: 10px; */
  /* margin-top: 10px; */
  clip-path: polygon(0% 0%, 95% 0%, 100% 39%, 100% 85%, 0% 85%, 0% 82%);
}

.input_div input {
  height: 100%;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: white;
  border: none;
}

.input_div .search_icon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.input_div .search_icon:hover {
  transform: scale(1.2);
}

/* search component code ends here... */
/* action bar css  */
.action_bar {
  top: 0;
  height: 100%;
  /* margin: 0 10px; */
}
.action_bar .left_portion {
  display: flex;
  gap: 5px;
  align-items: center;
}
.action_bar .left_portion .actionbar_icons {
  height: 30px;
  width: 40px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer !important;
}
.action_bar .right_portion p {
  margin: auto;
}

.right_portion .main_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #04181d;
  /* border: 2px solid black; */
  border-style: double;
}
.right_portion .plus_circle {
  position: absolute;
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #00fffb 0%,
    rgba(0, 255, 251, 0) 100%
  );
  display: grid;
  place-content: center;
}
/* divider css */
.bars-wrapper {
  position: relative;
  /* top: 50px; */
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3px;
  height: 50px;
  margin: 0 -10px;
  /* background-color: red; */
}
.bars-wrapper .bars {
  width: 30px;
  height: 1.2px;
  /* background-color: var(--primary);   */
  background-color: rgba(255, 255, 255, 0.2);
}
.bars-wrapper .bar-startend {
  width: 20px;
}
/* action bar css ends here. */

/* Camera Layout css */
.cameras_layout {
  position: relative;
  /* margin: 20px 0; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  /* gap: 10px; */
  /* max-height: 400px;
  overflow-y: scroll; */
}

.camera_cards {
  /* background-image: url("./assets/images/layout4.png"); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* height: 156; */
  width: 240px;
  /* border: 1px solid yellow; */
}
.rootLayoutImage {
  width: 95%;
  height: 96vh;
  object-fit: 100% 100%;
  min-width: 500px;
}
/* single screen camera*/
.single_camera_frame {
  position: relative;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 100%;
  /* max-width: 800px; */
}
.frame_inner {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.frame_inner video {
  position: relative;
  width: auto;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.emp-p-tag {
  margin-left: 0;
}
.cards_layout {
  /* height: 30%; */
  /* max-height: 30%; */
  /* overflow-y: scroll; */
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  /* gap: 10px; */
  flex: 1;
}

/* .single_camera_frame {
  position: absolute;
  top: 0;
  left: 0;
} */
/* end of single camera */
/* usman table css */

/* <--------Main Root layout css code, copied from test.css----------------> */
/* these classes can only be found in RootLayout.jsx component.. */
.main_wrapper {
  height: 100vh;
  width: 45px;
  /* padding: 20px 40px; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.root_layout_inner_wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  /* background-color: red; */
  overflow: hidden;
  display: flex;
  gap: 50px;

  /* gap: 5px; */
  /* justify-content: center; */
}
.bg_cover {
  position: absolute;
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  object-position: center center;
  /* margin: 0 auto; */
}

/* end of test.css code */

/* timestamp on cameras */
/* this code is used as js object style in Timer components */

/* end of time stamp css */

/* ....................<>....................... */

/*               Camera tools view css */

.cameraToolsViewWrapper {
  position: absolute;
  bottom: 3.5%;
  right: 1%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 200px;
  /* background-color: red; */
  width: 60px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cameraToolsViewButtonToggle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cameraToolsViewButtonToggle .arrowUpIcon {
  height: 25px;
  width: 25px;
  cursor: pointer;
  color: black;
}
/* ....................<>....................... */

.dashboard_td {
  color: var(--main-text-color);
  font-size: 12px;
  font-weight: 200;
  line-height: 12px;
  letter-spacing: 0em;
}
@media screen and (max-width: 576px) {
  .dashboard_td {
    color: var(--main-text-color);
    font-size: 10px;
    font-weight: 200;
    line-height: 12px;
    letter-spacing: 0em;
  }
}
.dashboard_th {
  color: var(--main-white-color);

  font-size: 14px;
  font-weight: 200;
  line-height: 17px;
  letter-spacing: 0em;
}
@media screen and (max-width: 576px) {
  .dashboard_th {
    color: var(--main-white-color);
    font-size: 11px;
    font-weight: 200;
    line-height: 17px;
    letter-spacing: 0em;
  }
}
.dashboard_td_1 {
  color: var(--main-red-color);
  font-size: 12px;
  font-weight: 200;
  line-height: 12px;
  letter-spacing: 0em;
}
@media screen and (max-width: 576px) {
  .dashboard_td_1 {
    color: var(--main-red-color);
    font-size: 10px;
    font-weight: 200;
    line-height: 12px;
    letter-spacing: 0em;
  }
}
.mmm {
  clip-path: polygon(
    0% 0%,
    93% 0%,
    100% 35%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 75%,
    0% 0%
  );
}

/* usman css table ends here */

/* overriding react modal default css */
.fade {
  overflow: hidden !important;
}

/* Employee route css starts here */
.table_header {
  height: 12vh;
}
.emloyee_table {
  height: 53vh;
  border-radius: 0 0 25px 0;
  overflow-y: auto;
}

/* Employee route css ends here.. */

@media screen and (max-width: 768px) {
  /* .single_camera_frame {
    margin: 0 0;
    max-width: 80%;
  } */
  .input_div {
    width: 68%;
    margin-top: 10px;
    min-width: 20%;
  }
  /* .frame_inner {
    width: 80%;
  } */
  /*
}
@media screen and (max-width: 1024px) {
  /* .sidebar_inner {
    top: 25px;
    left: 30px;
  } */
}
@media screen and (min-width: 1025px) {
  /* .sidebar_inner {
    top: 22px;
    left: 35px;
  } */
  .table-layout {
    height: auto;
    overflow: scroll;
    max-height: 90%;
  }
}
@media screen and (min-width: 2000px) {
  /* .sidebar_inner {
    margin-left: 40px;
    top: 35px;
  } */
}
.single_screen_view {
  height: 72vh;
  padding: 0 10px 0 0;
  border-radius: 0 0 25px 0;
  width: 100%;
}
.scrren_cctv_sty {
  margin-top: 10px;
  height: 72vh;
  background-color: black;
  margin-right: 5px;
}
.scrren_cctv_tabel_sty {
  height: 22vh;
  overflow-y: auto;
  background-color: black;
}
